:root {
  --bkg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}
body {
  background-color: #121212;
  font-family: 'Varela Round';
  overflow-x: hidden;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
#content {
  width: 100vw;
  height: 100vh;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 8px;
}
#content.hide {
  transform: scale(0.8);
}
a {
  text-decoration: none;
  color: #fff;
}
.cards {
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  padding-bottom: 40px;
}
.card {
  cursor: pointer;
  position: relative;
  margin: 0;
  width: 150px;
  aspect-ratio: 1;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.4s ease, filter 0.4s ease;
}
.card:hover, .card:focus {
  transform: translateY(-10px) scale(1.05) rotate3d(20, -100, 20, 10deg);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}
.card:hover img, .card:focus img {
  transform: scale(0.8) translateY(-20px);
  filter: brightness(1.1);
}
.card.clicked {
  transform: scale(0.5) rotate3d(100, -100, -100, 960deg);
  opacity: 0.8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.overlay {
  text-align: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 20px;
  color: white;
  transition: bottom 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay::before {
  content: '';
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.overlay > p {
  font-size: 18.72px;
  font-weight: bold;
}
.card:hover .overlay, .card:focus .overlay {
  bottom: -20%;
}
header {
  color: white;
  padding: 10px 0;
  z-index: 5;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  margin: 0 5%;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 710px) {
  .header-content {
    flex-wrap: wrap;
  }
}
h1 {
  font-size: 2.75rem;
  margin: 0;
}
.header-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.header-item {
  display: block;
  padding: 20px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border-radius: 20px;
  border:1px solid rgba(0, 0, 0, 0.18);
  color: white;
  text-decoration: none;
  background-image: var(--bkg);
  background-size: 20px 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.header-item:not(.no-hover):hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(12, 12, 12, 0.2);
}
.header-item.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.header-itext {
  font-size: 18.72px;
  font-weight: bold;
}
.date {
  margin-top: auto;
}
.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
}
.search-overlay.active {
  opacity: 1;
}
.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  transition: all 0.5s ease;
  z-index: 12;
  padding: 20px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  max-width: 75vw;
  width: 25vw;
  opacity: 0;
  min-width: 25vw;
}
.search-bar input[type="text"] {
  font-family: 'Varela Round';
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
}
.search-bar input:focus {
  outline: none;
}
.search-bar.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.search-bar.active input[type="text"] {
  outline: none;
}
@media(prefers-reduced-motion) {
  .header-item, .overlay, .card, .card img, .card.clicked {
    transition: none;
  }
}
.settings-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.settings-overlay.active {
  opacity: 1;
}
.settings-background {
  font-family: 'Varela Round';
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  transition: all 0.5s ease;
  z-index: 12;
  padding: 20px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  max-height: 75vw;
  width: 50vw;
  opacity: 0;
  overflow-y: hidden;
}
.settings-background.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: #fff;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 8px;
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease, font-size 0.5s ease, border-radius 0.5s ease, transform 0.5s ease;
}
.settings-button:hover, .settings-button:focus {
  width: 48px;
  height: 48px;
  border-top-left-radius: 16px;
  font-size: xx-large;
  cursor: pointer;
  opacity: 1;
}
.settings-button.active {
  transform: translate(100%, 100%);
}
.settings-close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  transition: color 0.5s ease;
}
.settings-close:hover {
  color: #999;
}
.settings-group {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  padding: 10px;
  margin: 10px;
}
.settings-group h3:first-of-type {
  margin-bottom: 7.5px;
}
.settings-group p:first-of-type {
  margin-top: 5px;
}
.settings-background input {
  outline: none;
  border: none;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.25);
  background-image: var(--bkg);
  background-size: 20px 20px;
  color: #fff;
  font-family: 'Varela Round';
  border-radius: 4px;
  width: 60%;
  height: 25px;
}
#no-internet, .internet-tick {
  display: none;
}
#no-internet {
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  position: fixed;
  top: 16px;
  right: 16px;
}
.no-internet {
  opacity: 0.2;
  transition: all 1s ease;
  animation: no-internet 4s ease infinite;
  width: 0;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.internet-tick {
  opacity: 0;
  transform: scale(2);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  color: #fff;
  font-size: 30px;
  text-align: center;
}
@keyframes no-internet {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
button {
  height: 25px;
  width: fit-content;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: 'Varela Round';
  transition: all 0.5s ease;
  cursor: pointer;
  margin: 0 auto;
}
#cal-deactivate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
button:hover {
  box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.37);
  transform: scale(1.05);
}
#cal-submit[hidden], #cal-input[hidden], #cal-deactivate {
  display: none;
}
#cal-incorrect, .settings-active, #cards-error {
  color: #c94545;
}
#cards-error {
  text-align: center;
}
.settings-active {
  font-size: 0.83em;
  transition: color 1s ease;
}
.settings-active[active] {
  color: #45c947;
}
.settings-active[error] {
  color: #ffd699;
}
#cal-deactivate[visible] {
  display: block;
}
.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.alert-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
}
.alert-background {
  font-family: 'Varela Round';
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 12;
  padding: 20px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  min-height: 10vh;
  max-height: 50vh;
  min-width: 10vw;
  max-width: 50vw;
  overflow-y: hidden;
  overflow-wrap: break-word;
}
.alert {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  border-radius: 16px;
  padding: 20px;
}
.alert-background.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.alert-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.nb-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.nb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}
.nb-background {
  font-family: 'Varela Round';
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  transition: all 0.4s ease;
  z-index: 12;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  padding: 20px 40px;
  min-height: 20vh;
  max-height: 80vh;
  opacity: 0;
  overflow-y: auto;
}
.nb-background.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.nb-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin: 10px 0;
}
.nb-cards .newcard {
  position: relative;
  margin: 0;
  width: 130px;
  aspect-ratio: 1;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
}
.nb-cards .newcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.8) translateY(-20px);
  transition: transform 0.4s ease, filter 0.4s ease;
}
.nb-cards .newcard .overlay {
  bottom: -20%;
}
#nb-message {
  margin: 0 0 15px 0;
  font-size: 16px;
}
.sneakpeek-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.sneakpeek-overlay, .settings-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
}
.sneakpeek-background {
  font-family: 'Varela Round';
  color: #fff;
  text-align: center;
  position: absolute;
  transform: scale(0);
  z-index: 12;
  padding: 20px;
  border-bottom-left-radius: 16px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.25);
  background-image: var(--bkg);
  background-size: 20px 20px;
  min-height: 10vh;
  max-height: 80vh;
  width: 30vw;
  overflow: hidden;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: rotate(-45deg) translate(200%,50%) scale(3);
  right: 0;
  top: -10vh;
  opacity: 0;
}
.sneakpeek-background.active {
  transform: rotate(0deg) translate(0%,0%) scale(1);
  opacity: 1;
}
.sneakpeek-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 30vw;
  min-height: 10vh;
  max-height: 80vh;
}
.sneakpeek-cards {
  width: 90%;
  min-height: 5vh;
  max-height: 70vh;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  overflow-y: auto;
  border-radius: 16px;
}
.sneakpeek-card, #sp-nc, #sp-err {
  position: relative;
  margin: 5px;
  width: 90%;
  overflow: hidden;
  border-radius: 16px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-image: var(--bkg);
  background-size: 20px 20px;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  min-height: 40px;
  align-items: center;
  display: flex;
}
#sp-err {
  filter: sepia(1);
}
.sneakpeek-card .spt, #sp-nc .spt, #sp-err .spt {
  font-size: larger;
  font-weight: bold;
}
.sneakpeek-card .sptl {
  font-size: large;
  position: absolute;
  right: 10px;
  top: 10px;
}
.sneakpeek-card .spti, #sp-nc .spti, #sp-err .spti {
  font-size: small;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.sneakpeek-close {
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 15px;
  color: #fff;
  transition: color 0.5s ease;
}
#sp-nc {
  display: none;
}
#header-classSync {
  cursor: pointer;
  display: none;
}
#header-classSync p {
  margin: 0;
}
#header-classSync:not(.cs-icon) {
  min-width: 120px;
}
.cs-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 50px;
  text-align: center;
}
.cs-icon > p {
  margin: 0;
  font-size: 30px;
}
@media (max-width: 800px) {
  .settings-background {
    max-height: 100vh;
    width: 96vw;
    height: 96vh;
    overflow-y: auto;
  }
}
::placeholder {
  color: #999;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: #121212;
  width: 7.5px;
}
::-webkit-scrollbar-thumb {
  background-color: #090909;
  border-radius: 16px;
}
*:focus {
  outline: none;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
* {
  user-select: none;
}